<div ng-style="getStyle()">
    <nav id="ngGridToolbar" class="navbar-form navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-left">
                <div class="btn-group">
                    <button class="btn btn-default" btn-checkbox ng-model="showRownumbers" data-toggle="tooltip" data-placement="right" title="Show/Hide Row Numbers"><span class="glyphicon" ng-class="showRownumbers?'glyphicon-check':'glyphicon-unchecked'"></span> Row #</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="clearAllFilters()" ng-disabled="!anyFiltersExist()" data-toggle="tooltip" data-placement="right" title="Clear All Filters"><span class="glyphicon glyphicon-filter"></span> Clear all filters</button>
                </div>
            </div>
            <div class="navbar-right">
                <div class="btn-group">
                    <label class="btn" onmouseover="" style="cursor:default"><b>{{gridCurrentPage}}-{{gridTotalPages()}}</b> of <b>{{rows.length}}</b></label>
                    <div>
                        <pagination class="pagination" onmouseover="" style="cursor: pointer;margin:0" boundary-links="true" total-items="rows.length" ng-model="gridCurrentPage" items-per-page="gridPageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" rotate=""></pagination>
                    </div>
                </div>
                <div class="input-group" style="margin-top:-6px" data-toggle="tooltip" data-placement="right" title="Records per Page">
                    <span class="input-group-addon">
                        <span class=" glyphicon glyphicon-th-list"></span>
                    </span>
                    <select class="form-control" ng-model="gridPageSize" ng-options="number for number in pageSizeOptions"></select>
                </div>
            </div>
        </div>
    </nav>
    <div id="ngGridTable" class="ngngrid-scroll" ng-style="setGridTableStyle()">
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th ng-show="showRownumbers">#</th>
                <th ng-repeat="c in columnDefinitions">
                    <span ng-click="changeSort(c)" style="cursor:pointer">
                        <u>
                            {{c.DisplayName}}
                        </u>
                        <span ng-show="isSorted(c)" class="glyphicon" ng-class="gridSortOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span>
                    </span>
                </th>
            </tr>
            <tr>
                <th ng-show="showRownumbers"></th>
                <th ng-repeat="c in columnDefinitions">
                    <div ng-hide="c.DisableFilter" class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="c.ColHeaderFilter" typeahead-on-select="addColumnFilter(c,c.ColHeaderFilter,false);col.ColHeaderFilter = ''" typeahead="v for v in distinctColValues(c) | filter:$viewValue | limitTo:8" />
                        <div class="input-group-btn" dropdown>
                            <button dropdown-toggle class="btn dropdown-toggle" ng-class="isColFilterApplied(c) ? 'btn-primary':'btn-default'">
                                <span class="glyphicon glyphicon-filter"></span>
                            </button>
                            <ul class="dropdown-menu" ng-class="{'dropdown-menu-right': $index == columnDefinitions.length-1}" role="menu" style="overflow-y:auto;height:300px;width:auto">
                                <li>
                                    <span class="input-group input-group-sm">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
                                        <input type="text" class="form-control" ng-model="dropDownFilter" ng-click="$event.stopPropagation();$event.preventDefault()" />
                                    </span>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <span class="input-group input-group-sm">
                                        &nbsp;
                                        <button type="button" btn-checkbox ng-model="isColDropdownChecked" class="btn btn-default btn-xs" ng-click="toggleColFilters(c);$event.stopPropagation()" data-toggle="tooltip" data-placement="right" title="{{isColDropdownChecked?'Clear all':'Select all'}}">
                                            <span class="glyphicon" ng-class="isColFilterApplied(c)?'glyphicon-check':'glyphicon-unchecked'"></span>
                                        </button>
                                        <span>Select/Unselect All</span>
                                    </span>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="distinctVal in (c.DropdownFilteredValues = (distinctColValuesFiltered(c) | filter:dropDownFilter:false)) | orderBy:false">
                                    <div ng-switch="c.Type" style="font-weight:normal">
                                        &nbsp;
                                        <label style="font-weight:normal" type="button" class="btn btn-default btn-xs" ng-click="c.ColHeaderFilter='';addColumnFilter(c,distinctVal,true);$event.stopPropagation()">
                                            <span class="glyphicon" ng-class="isColFiltered(c,distinctVal)?'glyphicon-check':'glyphicon-unchecked'" style="cursor: pointer"></span>
                                        </label>
                                        <label style="font-weight:normal" ng-switch-when="Label" class="label" ng-class="c.FilterClassFn(distinctVal)">
                                            <span class="glyphicon" ng-class="c.FilterGlyphFn(distinctVal)"></span>
                                            {{c.FilterTextFn ? c.FilterTextFn(distinctVal):distinctVal}}
                                        </label>
                                        <label style="font-weight:normal" ng-switch-default>{{distinctVal}}</label>
                                        &nbsp;
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
            <tr ng-repeat-start="row in (gridFilteredRows =  (rows | orderBy:gridSortColumn:gridSortOrder | ngNgridFilter:customFilter)) | ngNgridPageOffset: (gridCurrentPage-1)*gridPageSize  | limitTo:gridPageSize" style="border-bottom: none" ng-class="{'animate':row.isUpdated}">
                <td ng-show="showRownumbers">{{$index+1}}</td>
                <td ng-repeat="c in columnDefinitions">
                    <span ng-switch="c.Type">
                        <span ng-switch-when="Label">
                            <span class="label label-xs {{c.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{c.TooltipFn(row)}}">
                                <span class="glyphicon {{c.GlyphFn(row)}}"></span>
                                {{c.TextFn(row)}}
                                <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                            </span>
                        </span>
                        <span ng-switch-when="Button">
                            <span ng-disabled="c.DisableFn(row)" class="btn  btn-xs  {{c.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{c.TooltipFn(row)}}" ng-click="c.ClickFn(row)">
                                <span class="glyphicon  {{c.GlyphFn(row)}}"></span>
                                <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                                {{c.TextFn(row)}}
                            </span>
                        </span>
                        <span ng-switch-when="Date">
                            <span ng-class="c.ClassFn ? c.ClassFn(row) : ''">
                                {{row[c.Name]|date:'yyyy-MM-dd HH:mm:ss'}}
                                <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                                <span class="glyphicon  {{c.GlyphFn(row)}}"></span>
                            </span>
                        </span>
                        <span ng-switch-when="Select">
                            <select name="status" class="form-control" ng-model="row[c.Name]" ng-options="o[SelectValue]  for o in  c.SelectFunction(row)  track by o[SelectKey]" ng-change="row.isDirty=true" required>
                                <option value="">Select</option>
                            </select>
                        </span>
                        <span ng-switch-when="Link">
                            <a href="{{c.UrlFn(row)}}" target="_blank">
                                {{c.TextFn ?  c.TextFn(row) :  row[c.Name]}}
                                <span class="glyphicon  {{c.GlyphFn(row)}}">
                                </span>
                                <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                            </a>
                        </span>
                        <span ng-switch-default>
                            <span ng-if="$index ==0 && row.isDirty" class='glyphicon glyphicon-edit'></span>
                            <span ng-if="$index ==0 && row[childPropertyname].length > 0">
                                <a href="#" ng-click=" row.isOpen = !row.isOpen" style="color:black" ng-show="childColumndefinitions.length > 0">
                                    <span class="pull-left glyphicon" ng-class="row.isOpen?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                                </a>
                            </span>
                            <span ng-class="c.ClassFn ? c.ClassFn(row) : ''">
                                {{c.TextFn ?  c.TextFn(row) :  row[c.Name]}}
                                <span class="glyphicon {{c.GlyphFn(row)}}"></span>
                                <span ng-show="c.BadgeFn" class="badge" ng-class="c.BadgeClass">{{c.BadgeFn(row)}}</span>
                            </span>
                        </span>
                    </span>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="row.isOpen">
                <td colspan="{{columnDefinitions.length}}">
                    <table class="table table-condensed table-bordered table-hover table-striped">
                        <tr>
                            <th ng-repeat="childCol in childColumndefinitions">
                                <div ng-click="changeChildSort(childCol)" style="cursor:pointer">
                                    {{childCol.DisplayName}}
                                    <span ng-show="isChildSorted(childCol)" class="glyphicon" ng-class="gridSortOrder?'glyphicon-chevron-down':'glyphicon-chevron-up'"></span>
                                </div>
                            </th>
                        </tr>
                        <tr ng-repeat="childRow in row[childPropertyname] | orderBy:gridChildrenSortColumn:gridChildrenSortOrder" ng-class="{'animate':childRow.isUpdated}">
                            <td ng-repeat="childCol in childColumndefinitions">
                                <span ng-switch="childCol.Type">
                                    <span ng-switch-when="Label">
                                        <span class="label label-xs {{childCol.ClassFn(childRow)}}" data-toggle="tooltip" data-placement="right" title="{{childCol.TooltipFn(childRow)}}">
                                            <span class="glyphicon {{childCol.GlyphFn(childRow)}}"></span>
                                            {{childCol.TextFn(childRow)}}
                                            <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                        </span>
                                    </span>
                                    <span ng-switch-when="Button">
                                        <span ng-disabled="childCol.DisableFn(childRow)" class="btn  btn-xs  {{childCol.ClassFn(childRow)}}" data-toggle="tooltip" data-placement="right" title="{{childCol.TooltipFn(childRow)}}" ng-click="childCol.ClickFn(childRow)">
                                            <span class="glyphicon  {{childCol.GlyphFn(childRow)}}"></span>
                                            <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                            {{childCol.TextFn(childRow)}}
                                        </span>
                                    </span>
                                    <span ng-switch-when="Date">
                                        <span ng-class="childCol.ClassFn ? childCol.ClassFn(childRow) : ''">
                                            {{row[childCol.Name]|date:'yyyy-MM-dd HH:mm:ss'}}
                                            <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                            <span class="glyphicon  {{childCol.GlyphFn(childRow)}}"></span>
                                        </span>
                                    </span>
                                    <span ng-switch-when="Select">
                                        <select name="status" class="form-control" ng-model="row[childCol.Name]" ng-options="o[SelectValue]  for o in  childCol.SelectFunction(childRow)  track by o[SelectKey]" ng-change="row.isDirty=true" required>
                                            <option value="">Select</option>
                                        </select>
                                    </span>
                                    <span ng-switch-when="Link">
                                        <a href="{{childCol.UrlFn(childRow)}}" target="_blank">
                                            {{childCol.TextFn ?  childCol.TextFn(childRow) :  row[childCol.Name]}}
                                            <span class="glyphicon  {{childCol.GlyphFn(childRow)}}">
                                            </span>
                                            <span ng-show="childCol.BadgeFn" class="badge" ng-class="childCol.BadgeClass">{{childCol.BadgeFn(childRow)}}</span>
                                        </a>
                                    </span>
                                    <span ng-switch-default>
                                        <span ng-if="$index ==0 && childRow.isDirty" class='glyphicon glyphicon-edit'></span>
                                        <!--<span>{{getColValue(childCol,childRow)}}</span>-->
                                        <span>{{childCol.TextFn ?  childCol.TextFn(childRow) :  childRow[childCol.Name]}}</span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="{{footerColumnSpan()}}">
                                    <span ng-repeat="rowFooter in rowFooterdefinitions">
                                        <span ng-switch="rowFooter.Type">
                                            <span ng-switch-when="Button">
                                                <span class="btn-group">
                                                    <span class="btn {{rowFooter.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{rowFooter.TooltipFn(row)}}" ng-click="childCol.ClickFn(row)" ng-disabled="rowFooter.DisableFn(row)">
                                                        <span class="glyphicon {{rowFooter.GlyphFn(row)}}"></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span ng-switch-when="Label">
                                                <span class="label label-xs {{rowFooter.ClassFn(row)}}" data-toggle="tooltip" data-placement="right" title="{{rowFooter.TooltipFn(row)}}">
                                                    <span class="glyphicon {{rowFooter.GlyphFn(row)}}"></span>
                                                    {{rowFooter.TextFn(row)}}
                                                </span>
                                            </span>
                                            <span ng-default-default>
                                                {{rowFooter.TextFn(row)}}
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
        <progressbar ng-show="rowsLoading" class="active progress-striped" value="100" type="primary">
            <b><i>{{rowsLoadingText}}</i></b>
        </progressbar>
    </div>
</div>
